SECRET_KEY='django-insecure-aan+w3%2!32!w4ei+u*05d!2jf*p2p2=4mxppt03saet$!h-rr'
DEBUG=True
ALLOWED_HOSTS=*

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432


CORS_ORIGIN_ALLOW_ALL=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,


EMAIL_USER=
EMAIL_PASSWORD=


HOST = '51.20.185.226'
